<!DOCTYPE html>
<html>
<head>
  <title>Bismillah</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
  	
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
